@import "../../styles/Configs/Colors.scss";
@import "../../styles/Configs/Fonts.scss";
@import "../../styles/Mixins/FontMixin.scss";


.mainContainer{
   text-align:center;
   position:absolute;
   top:50%;
   left:50%;
   transform:translate(-50%,-50%);
    h1{
        @include fontStyle($primary-font, normal, 800, 2.25rem, 2.75rem);
        color:$header-main-color;
    }
    p{
        @include fontStyle($primary-font, normal, 600, 1.25rem, 2.5rem);
        color:$main-text-color;
    }
}