@import "../../../../styles/Configs/Colors.scss";
@import "../../../../styles/Configs/Fonts.scss";

  .mainContent {
    display: flex;
    justify-content: space-between;
    margin: 0 2.7%;
    margin-top: 50px;
    padding-top: 120px;
    padding-bottom: 120px;
    border-radius: 2.5rem;
    background-color: #52719E;
    font-family: $primary-font;
    .leftContent {
      margin-left:  156px;
      h1 {
        margin-top: 0;
        font-weight: 800;
        font-size: 64px;
        line-height: 78px;
        color: $white-text-color;
      }
      p {
        margin-top: -10px;
        font-weight: 400;
        line-height: 24px;
        color: $otherWhite-color;
      }
      .buttonContainer {
        margin-top: 40px;
      }
      .leftContentSignInBtn {
        margin-left: 40px;
        padding: 5px 8px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: $white-text-color;
        font-size: 16px;
        &:hover {
          color: $black-text-color;
        }
      }
    }
    .rightContent {
      margin-right:  156px;
    }
  }

  @media only screen and (max-width: 1180px ) {  
    .mainContent {
      .leftContent {
        margin: 0 156px;
      }
      .rightContent {
        display: none;
      }  
    }
  }

  @media only screen and (max-width: 760px ) {  
    .mainContent {
      .leftContent {
        h1 {
          font-weight: 500;
          font-size: 40px;
          line-height: 50px;
        }
      }
    }
  }

  @media only screen and (max-width: 600px ) {  
    .mainContent {
      .leftContent {
        margin: 0 100px;
      }
    }
  }

  @media only screen and (max-width: 475px ) {  
    .mainContent {
      .leftContent {
        margin: 0 70px;
      }
      .buttonContainer {
        display: flex;
      }
    }
  }