$primary-color: #52719E;
$secondary-color: #4BCEB5;
$main-text-color: #5E617B;
$header-main-color: #222427;
$white-text-color: #ffffff;
$black-text-color: #333941;
$main-error-color: #ff0000;
$main-course-color: #EEEFF4;
$checkbox-checked-color: #4AB8A3;
$mentor-card-backgraund-color:#F9FAFD;
$exsplore-categories-backgraund-color:#DFF3FF;
$course-module-backgraund-color:#F9F9FD;
$email-icon-color:rgb(132, 138, 157);

// discussionForum
$btn-primary-color: #F08670; 
$discussionForum-header-list-Color: #415790;
$bg-color: #F9F9FD;
$bg-hover-color: #e1e1eb;
$text-color: #222427;
$text-light-color: #5E617B;
$icon-color: #848A9D;
$avatar-bg-color: #C6BDFF;
$btn-primary-hover-color: #ff9982;
$btn-secondary-color: #415791;
$btn-secondary-hover-color: #2f5fda;
$border-color: #D9DBE9;
$border-color_disable: #FF0000;
$editRemove-btn-title-color:#888EA0;
$popUp-overlay-color: #1A233D;
$pagination-showMore-hover-color: #1b2975;
$pagination-showMore-active-color: #7a86ce;