$primary-color: #52719E;
$secondary-color: #4BCEB5;
$main-text-color: #5E617B;
$header-main-color: #222427;
$white-text-color: #ffffff;
$black-text-color: #333941;
$main-error-color: #ff0000;
$main-course-color: #EEEFF4;
$checkbox-checked-color: #4AB8A3;
$mentor-card-backgraund-color:#F9FAFD;
$exsplore-categories-backgraund-color:#DFF3FF;