@import "../../styles/Configs/Fonts.scss";
@import "../../styles/Configs/Colors.scss";
@import "../../styles/Mixins/FontMixin.scss";

.inputErrorField {
    @include fontStyle($primary-font, normal, 800, 0.875rem, 1rem);
    color: $main-error-color;
}
.myLearningPathsErrorStyle {
    @include fontStyle($primary-font, normal, 800, 0.875rem, 1rem);
    color: $main-error-color;
    margin:32px 88px;
}