@import "../../../../styles/Mixins/FlexMixins.scss";
@import "../../../../styles/Mixins/FontMixin.scss";
@import "../../../../styles/Mixins/ButtonMixin.scss";
@import "../../../../styles/Configs/Colors.scss";
@import "../../../../styles/Configs/Fonts.scss";
@import "../../../../styles/Mixins/GridMixin.scss";

.mainContent {
    border-radius: 40px;
    align-self: flex-start;
    border: 2px solid black;
    .headerContent{
        @include flexStyle(row,center,space-between);
        background-color: #F9F9FD;
        border-radius: 40px 40px 0px 0px;
        h2{
            @include fontStyle($primary-font,normal,600,20px,24px);
            color: $black-text-color;
            margin:32px 162px 32px 48px;
        }
        .headerIcons {
            @include flexStyle(row, center, space-between);
            margin-right: 83px;
            img {
                margin-right:32px;
            }
        }
    }
    .courseSummaryItemList{
        margin-top:48px;
        @include gridStyle(repeat(1,1fr),none,24px,0);
    }
    .userEnrollText {
        margin:66px auto 24px;
        text-align: center;
    }
    .buttonContainer {
        margin:64px 60px 80px 48px;
    }
    .enrolledButtonContainer {
        margin:24px 60px 80px 48px;
    }
}
