@import './../../../../styles/Mixins/ButtonMixin.scss';
@import './../../../../styles/Mixins/FontMixin.scss';
@import './../../../../styles/Configs/Fonts.scss';
@import './../../../../styles/Configs/Colors.scss';

.ForgotPasswordBtns {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
}

.anyBtn {
  padding: 20px 0;
  width: 180px;
  font-family: $primary-font;
  font-weight: 500;
  font-size: 18px;
  border-radius: 0.7rem;
  background-color: $secondary-color;
  color: $white-text-color;
  display: block;
  text-align: center;
  box-sizing: border-box;
  border: none;
  margin-top: 10px;
  margin-bottom: 24px;
}

.backButton {
  order: 1;
  width: 160px;
  margin-right: auto;
}

.continueButton {
  order: 2;
}

.anyBtn,
.backButton {
  &:hover {
    background-color: #83f0dc;
  }
  &:active {
    background-color: #17ac90;
  }
  &:hover[disabled] {
    background-color: $btn-primary-color;
    color: #fff;
  }

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
