@import "../../../../styles/Mixins/ButtonMixin.scss";
@import "../../../../styles/Mixins/FlexMixins.scss";
@import "../../../../styles/Mixins/FontMixin.scss";

.mainContainer {
    @include flexStyle(column, flex-start, space-between);
    margin-top: 3%;
    margin-bottom: 1%;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 4%;
    padding-bottom: 1%;

    h2{
        @include fontStyle("Montserrat", normal, 800, 2.25rem, 2.75rem);
        color: #222427;
        align-self:center;
    }

    div {
      position: relative;
      width: 100%;
      margin-top: 5%;
      @include flexStyle(column, flex-start, space-between);
    }
    input {
      width: 100%;
      border: 1px solid #d9dbe9;
      box-sizing: border-box;
      border-radius: 0.75rem;
      height: 3.5rem;
      margin-top: 2%;
      margin-bottom: 3%;
      padding-left: 3%;
    }
    label {
      @include fontStyle("Montserrat", normal, 500, 0.875rem, 1rem);
      color: #333941;
    }
    p {
      display: block;
      width: 100%;
      text-align: center;
      @include fontStyle("Montserrat", normal, 500, 1rem, 0.0rem);
      color: #333941;
      cursor: pointer;
    }
    button {
      @include buttonStyle(#5e617b,#ffffff,1rem,100%,3.5rem,none,none,none,none);
      @include fontStyle("Montserrat", normal, 500, 1rem, 1.25rem);
      display: block;
      text-align: center;
      border: 1px solid #5e617b;
      box-sizing: border-box;
      margin-top: 4%;
    }
  }

  .successedMessage {
    @include fontStyle("Montserrat", normal, 700, 1.25rem, 2.5rem);
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    color: #222427;
    text-align: center
  }

  .errorMessage {
    @include fontStyle("Montserrat", normal, 800, 0.875rem, 0rem);
    color: #ff0000;
  }

