@import './../../../../styles/Mixins/ButtonMixin.scss';
@import './../../../../styles/Mixins/FontMixin.scss';
@import './../../../../styles/Configs/Fonts.scss';
@import './../../../../styles/Configs/Colors.scss';

.closeIconX {
  position: absolute;
  top: 24px;
  right: 24px;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  cursor: pointer;
  &:hover {
    color: brown;
  }  
}

.forgotpsd_box {
  font-family: $primary-font;
  margin-top: 35px;
  &_title {
    text-align: center;
    font-weight: 800;
    font-size: 2.25rem;
    color:$header-main-color;
  }
  &_subtitles {
   margin-top: 20px; 
  }
  &_subtitle {
    font-size: 1rem;
    color:$main-text-color;
    margin-top: 10px;
  }
}

.ForgotPasswordBtns {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 40px;
}

.anyBtn {
  padding: 20px 0;
  width: 100%;
  font-family: $primary-font;
  font-weight: 500;
  font-size: 18px;
  border-radius: 0.7rem;
  background-color: $secondary-color;
  color: $white-text-color;
  display: block;
  text-align: center;
  box-sizing: border-box;
  border: none;
  margin-bottom: 24px;
}

.backButton {
  order: 1;
  width: 100%;
  margin-right: auto;
}

.continueButton {
  order: 2;
}

.anyBtn,
.backButton {
  &:hover {
    background-color: #83f0dc;
  }
  &:active {
    background-color: #17ac90;
  }
  &:hover[disabled] {
    background-color: $btn-primary-color;
    color: #fff;
  }

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.forgotpsdContainer {
  margin: 20px 80px 0 80px;
  &_mainBody {
    margin-top: 30px;    
  }
}

@media screen and (max-width: 1080px) {
  .anyBtn {
    font-size: 14px;
    padding: 15px 10px;
  }
}

@media screen and (max-width: 900px) {
  .ForgotPasswordBtns {
    display: block;
  }
}