@import "../../../../styles/Configs/Colors.scss";
@import "../../../../styles/Configs/Fonts.scss";
@import "../../../../styles/Mixins/FontMixin.scss";


.mainHeader {
    display: inline-block;
    margin: 64px 0 56px 88px;
    box-sizing: border-box;
    @include fontStyle($primary-font,normal,800,48px,59px);
    color: $header-main-color;
}
.courseNavigationBar{
    margin-left:88px;
    box-sizing: border-box;
    .activeNav {
        display:inline-block;
        margin:0 24px 0 0;
        cursor:pointer;
        @include fontStyle($primary-font,normal,600,20px,24px);
        color:$header-main-color;
        border-bottom: 2px solid $header-main-color ;
    }
    .nonActiveNav {
        margin:0 24px 0 0;
        display:inline-block;
        @include fontStyle($primary-font,normal,500,16px,24px);
        color:$main-text-color;
        cursor:pointer;
        &:hover {
            color:$header-main-color;
        }
    }
}