@import "../../styles/Configs/Colors.scss";
@import "../../styles/Configs/Fonts.scss";
@import "../../styles/Mixins/ButtonMixin.scss";
@import "../../styles/Mixins/FlexMixins.scss";
@import "../../styles/Mixins/FontMixin.scss";

.mainContainer{
    .header{
        background-color:$primary-color;
        border-radius:40px 40px 0 0;
        padding:26.5px 32px;
        @include flexStyle(row, center,space-between);

        .difficultyContent{
            @include fontStyle($primary-font,normal,500,12px,15px);
            color:$white-text-color;
            margin:0;
        }
        .bookmarkIcon {
            margin:0;
            color:$white-text-color;
        }
    }
    .mainBody{
        background-color:$white-text-color;
        border-radius:0 0 40px 40px;
        padding:24px 24px 32px;

        .ratingContent{
            @include flexStyle(row,center,space-between);
            width:47px;
            color:$main-text-color;
            .iconStyle {
                margin:0;
            }
            .ratingValue{
                margin:0;
                @include fontStyle($primary-font,normal,500,12px,15px);
            }
        }
        .courseTitle{
            display:inline;
            @include fontStyle($primary-font,normal,600,20px,24px);
            color:$header-main-color;
        }
        .keywordsContent {
            margin-top:34px;
            .keyword {
                display:inline-block;
                background-color: #EEEFF4;
                border-radius: 20px;
                padding:2.5px 8px;
                margin-right:8px;
            }
            .keyword,p{
                @include fontStyle($primary-font,normal,400,12px,15px);
                color: #848A9D;
            }

        }
    }
}

