@import "./../../../../styles/Configs/Colors.scss";
@import "./../../../../styles/Configs/Fonts.scss";

.verPopUpTitle {
  font-family: $primary-font;
  font-weight: 800;
  color:$header-main-color;
  font-size: 2.25rem;
  text-align: center;
  margin-top: 35px;
}

.closeX {
  position: sticky;
  top:24px;
  margin-left: auto;
  right:24px;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  cursor: pointer;
  &:hover {
      color: brown;
  }
}

.sentMail {
  font-family: $primary-font;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.8rem;
  color:$black-text-color;
  margin-top: 15px;
  margin-left: 60px;
}

.verPopupBody {
  margin-left: 20px;
}