@import "../../../../styles/Mixins/FlexMixins.scss";

.mainContainer {
    @include flexStyle(row, center, space-between);
    width: 100%;

    .learningPathContainer {
        position: absolute;
        top: 100px;
        left: 400px;
        width: 65%;
        overflow: hidden;
    }
}
