@import "../../styles/Mixins/ButtonMixin.scss";
@import "../../styles/Mixins/FlexMixins.scss";
@import "../../styles/Mixins/FontMixin.scss";

.mainContainer {
  position: fixed;
  z-index: 1;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: #222427;
  opacity: 0.9;
  padding-top: 4%;
  overflow-y: scroll;
  scrollbar-width: none;
  .formContainer {
    display: block;
    padding-top: 2%;
    padding-bottom: 3%;
    margin: auto;
    background-color: #f9f9fd;
    box-shadow: 0px 2px 20px rgba(199, 202, 221, 0.5);
    border-radius: 2.5rem;
    width: 40%;
    .headerContent {
      @include flexStyle(column, center, space-between);
      margin-top: 7%;
      h2 {
        @include fontStyle("Montserrat", normal, 800, 2.25rem, 2.75rem);
        color: #222427;
      }
      .iconContent {
        @include flexStyle(row, center, space-between);
        width: 20%;
        button {
          background: transparent;
          font-size: 2.5rem;
          cursor: pointer;
          border: none;
        }
      }
      p {
        @include fontStyle("Montserrat", normal, 600, 1.25rem, 1.5rem);
        color: #848a9d;
      }
    }
    .inputContent {
      @include flexStyle(column, flex-start, space-between);
      margin-top: 3%;
      padding-left: 8%;
      padding-right: 8%;
      padding-top: 4%;
      div {
        position: relative;
        width: 100%;
        margin-bottom: 4%;
        @include flexStyle(column, flex-start, space-between);
      }
      input {
        width: 100%;
        border: 1px solid #d9dbe9;
        box-sizing: border-box;
        border-radius: 0.75rem;
        height: 3.5rem;
        margin-top: 2%;
      }
      label {
        @include fontStyle("Montserrat", normal, 500, 0.875rem, 1rem);
        color: #333941;
      }
      p {
        display: block;
        width: 100%;
        text-align: center;
        @include fontStyle("Montserrat", normal, 500, 1rem, 1.5rem);
        color: #333941;
        cursor: pointer;
      }
      button {
        display: block;
        width: 100%;
        text-align: center;
        border: 1px solid #5e617b;
        box-sizing: border-box;
        border-radius: 1rem;
        background-color: #5e617b;
        height: 4.5rem;
        @include fontStyle("Montserrat", normal, 500, 1rem, 1.25rem);
        color: #ffffff;
        cursor: pointer;
      }
    }
    .alreadyHaveAccount {
      display: block;
      width: 100%;
      text-align: center;
      @include fontStyle("Montserrat", normal, 600, 1.25rem, 1.5rem);
      color: #5e617b;
      & button:nth-of-type(1) {
        background-color: transparent;
        cursor: pointer;
        @include fontStyle("Montserrat", normal, 600, 1.25rem, 1.5rem);
        color: #222427;
        border: none;
      }
    }
  }
}
