@import "../../../../styles/Configs/Colors.scss";
@import "../../../../styles/Configs/Fonts.scss";
@import "../../../../styles/Mixins/FontMixin.scss";

.mainContainer {
    h1 {
        @include fontStyle($primary-font,normal,800,48px,59px);
        color:$header-main-color;
        box-sizing: border-box;
        margin:64px 0 48px 88px;
        width:750px;
        display:inline-block;
    }
}