@import "../../styles/Mixins/ButtonMixin.scss";
@import "../../styles/Mixins/FlexMixins.scss";
@import "../../styles/Mixins/FontMixin.scss";

/*.categoriesMainContainer {
  background-color: #e5e5e5 !important;
  .categoriesListContainer {
    flex-wrap: wrap;
  }
}

.mentorMainContainer,
.categoriesMainContainer {
  background-color: #eeeff4;
  padding: 5% 1% 7% 1%;
  @include flexStyle(column, center, space-between);
  & h2:nth-of-type(1) {
    @include fontStyle("Montserrat", normal, 800, 2.25rem, 2.75rem);
    color: #333941;
  }
  & button:nth-of-type(1) {
    @include buttonStyle(
      transparent,
      #5e617b,
      1rem,
      none,
      4rem,
      2rem,
      2rem,
      1.375rem,
      1.375rem
    );
    border: 1px solid #5e617b;
    text-transform: uppercase;
    margin-top: 5%;
  }
  .mentorListContainer,
  .categoriesListContainer {
    width: 90%;
    @include flexStyle(row, center, space-between);
  }
}*/

.mainContainer {
  @include flexStyle(row, none, space-between);
  padding: 4% 5% 7% 6.25%;
  h2 {
    display: inline;
    width: 30%;
    @include fontStyle("Montserrat", normal, 800, 3rem, 3.688rem);
    color: #333941;
  }
  .buttonContainer {
    @include flexStyle(row, center, space-between);
    width: 35%;
    & button:nth-of-type(1) {
      @include buttonStyle(
        #5e617b,
        #ffffff,
        1rem,
        none,
        4rem,
        2rem,
        2rem,
        1.375rem,
        1.375rem
      );
      text-transform: uppercase;
    }
    & button:nth-of-type(2) {
      @include buttonStyle(
        transparent,
        #5e617b,
        1rem,
        none,
        4rem,
        2rem,
        2rem,
        1.375rem,
        1.375rem
      );
      border: 1px solid #5e617b;
      text-transform: uppercase;
    }
  }
}
