@import "../../styles/Mixins/ButtonMixin.scss";
@import "../../styles/Mixins/FlexMixins.scss";
@import "../../styles/Mixins/FontMixin.scss";
@import "../../styles/Configs/Colors.scss";
@import "../../styles/Configs/Fonts.scss";

.mainContainer {
  .headerContainer {
    @include flexStyle(row, center, space-between);
    border-radius: 1.25rem 1.25rem 0 0;
    background-color: $primary-color;
    padding-left: 8%;
    padding-right: 8%;
    .MailLinkedinIconsContainer {
      display: flex;
      gap: 16px;
    }
    p {
      cursor: pointer;
      color: $white-text-color;
    }
  }
  .bodyContainer {
    background-color:$white-text-color;
    border-radius: 0 0 1.25rem 1.25rem;
    color: $black-text-color;
    &:hover {
      background-color: #d3bebe33;
      .mentorCourseProperty {
        background-color: #ffa3a398;
      }
    }
    .mentorInfoContainer {
      display: flex;
      padding-left: 24px;
      padding-top: 24px;
      .mentorAvatar {
        width: 35%;
        img {
          border-radius: 50%;
        }
      }
      .mentorInfo {
        h3 {
          margin: 3px 0 0 0;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: $black-text-color;
        }
        
        .professionName{
          margin: 3px 0 0 0;
          font-weight: 400;
          font-size: 10px;
          line-height: 13px;
          color: $email-icon-color;
        }
        
        .companyName {
          margin: 2px 0 0 0;
          font-weight: 500;
          font-size: 12px;
          line-height: 15px;
          color: $main-text-color;
        }
      }
    }

    .countBeforeContentBox {
      display: flex;
      align-items: center;
      margin-left: 24px;
      margin-top: 14px;
      padding-bottom: 20px;
    }

    .countBeforeContent {
      margin-left: 8px;
      color: $email-icon-color;
      &::after {
        content: '\00a0';
      }
    }

    .mentorCourseCount,
    .countBeforeContent,
    .mentorCourseProperty {
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
    }

    .mentorCourseCount {
      color: #333941;
    }

    .mentorCourseProperty {
      background-color: $mentorPropertyBtnColor;
      color: $header-main-color;
      padding: 6px 16px;
      border-radius: 16px;
      border: none;
      height: 26px;
      margin-left: auto;
      margin-right: 24px;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 1250px) {
  .mainContainer {
    .bodyContainer {
      .mentorInfoContainer {
        .mentorInfo {
          margin-left: auto;
          margin-right: 30px;
        }
      }
    }
  }
}

@media only screen and (max-width: 670px) {
  .mainContainer {
    .bodyContainer {
      .mentorCourseProperty {
        margin-left: 5px;
      }
    }
  }
}
