@import "../../styles/Mixins/ButtonMixin.scss";
@import "../../styles/Mixins/FlexMixins.scss";
@import "../../styles/Mixins/FontMixin.scss";
@import "../../styles/Configs/Colors.scss";
@import "../../styles/Configs/Fonts.scss";

.mainContainer {
  .headerContainer {
    @include flexStyle(row, center, space-between);
    height:30%;
    box-sizing: border-box;
    border-radius: 1.25rem 1.25rem 0 0;
    background-color: $primary-color;
    padding-left: 6%;
    padding-right: 6%;
    .MailLinkedinIconsContainer {
      @include flexStyle(row, center, space-between);
      width:30%;
    }
    p {
      cursor: pointer;
      color: $white-text-color;
    }
  }
  .bodyContainer {
    background-color:$white-text-color;
    border-radius: 0 0 1.25rem 1.25rem;
    .mentorInfoContainer {
      @include flexStyle(row, center, space-evenly);
      .mentorAvatar {
        width: 35%;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
      .mentorInfo {
        h3 {
          @include fontStyle($primary-font, normal, 500, 1rem, 1.5rem);
          color: $header-main-color;
        }
        & p:nth-of-type(1) {
          @include fontStyle($primary-font, normal, 400, 0.625rem, 0.75rem);
          color: #848a9d;
        }
        & p:nth-of-type(2) {
          @include fontStyle($primary-font, normal, 500, 0.75rem, 0.938rem);
          color: $main-text-color;
        }
      }
    }
    .mentorExtraInfo {
      @include flexStyle(row, center, space-evenly);
      width:40%;
      margin-left:6%;
      p{
        &::before {
          content: "Total Courses: ";
          @include fontStyle($primary-font, normal, 500, 0.75rem, 0.938rem);
          color: #848a9d;
        }
        @include fontStyle($primary-font, normal, 800, 0.75rem, 0.938rem);
        color: $header-main-color;
      }
    }
  }
}
