@import "../../styles/Mixins/FlexMixins.scss";
@import "../../styles/Mixins/FontMixin.scss";

.navAndMainTitle {
    @include flexStyle(column,none, space-between);
    border:1px solid red;
    h1 {
        padding-left:6%;
    }
}

.mainContent {
    padding-left:6%;
    padding-right:6%;
    @include flexStyle(row,none, space-between);
}