@import "../../../../../../styles/Mixins/ButtonMixin.scss";
@import "../../../../../../styles/Mixins/FlexMixins.scss";
@import "../../../../../../styles/Mixins/FontMixin.scss";
@import "../../../../../../styles/Configs/Colors.scss";
@import "../../../../../../styles/Configs/Fonts.scss";

.mainContainer {
    width: 508px;
	height: 474px;
    border-radius: 40px;
	position: relative;
	.successMessage{
		fill:  $main-course-color;
		filter: drop-shadow(0px 2px 35px rgba(217, 219, 233, 0.24));
	}
	.enrollIcon{
		position: absolute;
		margin-top: 88px;
		width: 130px;
		height: 129.998px;
		gap: 10px;
		@include flexStyle(column,center,center);
		}

	.closeIcon {
		position: absolute;
		top:24px;
		right:24px;
		box-sizing: border-box;
		width:24px;
		height:24px;
		@include flexStyle(row,center,center);
		cursor: pointer;
		&:hover {
			background-color: $secondary-color;
		}
	}
    .mainContent {
        @include flexStyle(column,center,none);
        .textContent {
            text-align: center;
            h2 {
                @include fontStyle($secondary-font,normal,700,36px,normal);
                color:#123761;
				margin: 32px 0 0 0;
            }
            p{
                @include fontStyle($secondary-font,normal,400,14px,normal);
                color:#848A9D;
                height: 41px;
				align-self: stretch;
				margin: 8px 0 17px 0;
            }
        }
    }
}

