@import "../../../../../../styles/Mixins/ButtonMixin.scss";
@import "../../../../../../styles/Mixins/FlexMixins.scss";
@import "../../../../../../styles/Mixins/FontMixin.scss";
@import "../../../../../../styles/Configs/Colors.scss";
@import "../../../../../../styles/Configs/Fonts.scss";

.mainContainer {
    width:100%;
    height:100%;
    background-image: conic-gradient(at 50% 38%,#EEEFF4 0deg,#EEEFF4 60deg,#FFFFFF 60deg,#FFFFFF 300deg,#EEEFF4 300deg,#EEEFF4 360deg);
    border-radius: 40px;
    @include flexStyle(column,center,space-evenly);
    .mainContent {
        @include flexStyle(column,center,none);
        .textContent {
            text-align: center;
            margin:31px 0 17px;
            h2 {
                @include fontStyle($secondary-font,normal,700,36px,38px);
                color:#123761;
                margin:0 0 8px;
            }
            p{
                @include fontStyle($secondary-font,normal,400,14px,17px);
                color:#848A9D;
                margin:0;
            }
        }
        .buttonContainer {
            width:100%;
        }
    }
}