<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email</title>
</head>
<body>
<div style="color: black; font-style: normal; font-size: 14px;">
    Hey <b th:text="${userName}"></b>
    <p>Click the button blow to verify your account.</p>
    <p> It is valid within <b th:text="${expiresAt}"></b> minutes.</p>

    <form th:method="get"
          th:action="@{${verificationEndpoint}}"
          th:object="${verificationToken}">
        <input th:type="hidden" th:name="token" th:id="token" th:value="${verificationToken.token}">
        <button th:type="submit"
                style="background-color: white;
                       border: 2px solid #4CAF50;
                       border-radius: 8px;
                       font-size: 20px;
                       font-style: oblique;
                       padding: 10px 30px;
                       text-align: center;
                       color: black;"> Verify your account
        </button>
    </form>

</div>
</body>
</html>