@import "../../../../styles/Mixins/FlexMixins.scss";
@import "../../../../styles/Mixins/FontMixin.scss";

.mainContainer,.hiddenContainer{
    @include flexStyle(row,center,space-between);
    width:15%;
    align-self:flex-start;
    .filterMainContent{
        background-color:#FFFFFF;
        border-radius:1.125rem;
        padding-left:0.5rem;
        width:100%;
        .mainTitle{
            @include fontStyle('Montserrat',normal,600,1.25rem,1.5rem);
            color:#222427;
        }
    }

}