@import "../../../../styles/Configs/Colors.scss";
@import "../../../../styles/Configs/Fonts.scss";
@import "../../../../styles/Mixins/FlexMixins.scss";
@import "../../../../styles/Mixins/FontMixin.scss";

.mainContainer {
    width:358px;
    background-color:$white-text-color;
    .filterMainContent{
        border-radius:18px;
        margin:64px 26px 64px 48px;
        .mainTitle{
            @include fontStyle($primary-font,normal,600,28px,24px);
            color:$header-main-color;
            margin:0;
        }
    }
}