@import "../../../../styles/Configs/Colors.scss";

.modalStyles {
    position:absolute;
    background-color: $white-text-color;
    border:1px solid $header-main-color;
    z-index:100;
    top:80px;
    right:65px;
}