@import "../../../../styles/Configs/Colors.scss";

  .registrationButton{
    text-align: center;
    margin: auto;
    width:40%;
  }
  
  .regButton {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $header-main-color;
    background-color: $white-text-color;
    border: 1px solid $header-main-color;
    border-radius: 13px;
    padding: 16px 32px;
    cursor: pointer;
    &:hover {
      background-color: $secondary-color;
      color: $white-text-color;
      border: 1px solid transparent;
    }
  }
  
  .btnAbove {
    margin-bottom: 48px;
  }
  
  .btnBelow {
    margin-top: 48px;
    margin-bottom: 50px;
  }
  