@import "../../../styles/Configs/Colors.scss";
@import "../../../styles/Configs/Fonts.scss";
@import "../../../styles/Mixins/FlexMixins.scss";
@import "../../../styles/Mixins/ButtonMixin.scss";
@import "../../../styles/Mixins/FontMixin.scss";

.closeIcon {
    position: sticky;
    top:24px;
    margin-left: auto;
    right:24px;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    color: $email-icon-color;
    cursor: pointer;
    &:hover {
        color: brown;
    }
}
.headerContent {
    margin: 0px 50px 0px 50px;
    box-sizing: border-box;
    @include flexStyle(column,center,space-between);
    h2 {
        @include fontStyle($primary-font, normal, 800, 2.25rem, 2.75rem);
        color:$header-main-color;
    }
    .iconContent {
      height:36px;
      width:35%;
      @include flexStyle(row,center,space-evenly);
      .icon {
          display:inline-block;
          width:36px;
          height:36px;
          cursor: pointer;
      }
    }
}