@font-face {
  font-family: "Montserrat-Black";
  src: local("Montserrat-Black"),
  url("./fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-BlackItalic";
  src: local("Montserrat-BlackItalic"),
  url("./fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-ExtraBold";
  src: local("Montserrat-ExtraBold"),
  url("./fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-ExtraBoldItalic";
  src: local("Montserrat-ExtraBoldItalic"),
  url("./fonts/Montserrat/Montserrat-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: local("Montserrat-Bold"),
  url("./fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-BoldItalic";
  src: local("Montserrat-BoldItalic"),
  url("./fonts/Montserrat/Montserrat-SemiBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: local("Montserrat-SemiBold"),
  url("./fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-SemiBoldItalic";
  src: local("Montserrat-SemiBoldItalic"),
  url("./fonts/Montserrat/Montserrat-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: local("Montserrat-Medium"),
  url("./fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-MediumItalic";
  src: local("Montserrat-MediumItalic"),
  url("./fonts/Montserrat/Montserrat-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: local("Montserrat-Regular"),
  url("./fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Light";
  src: local("Montserrat-Light"),
  url("./fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-LightItalic";
  src: local("Montserrat-LightItalic"),
  url("./fonts/Montserrat/Montserrat-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-ExtraLight";
  src: local("Montserrat-ExtraLight"),
  url("./fonts/Montserrat/Montserrat-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-ExtraLightItalic";
  src: local("Montserrat-ExtraLightItalic"),
  url("./fonts/Montserrat/Montserrat-ExtraLightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Italic";
  src: local("Montserrat-Italic"),
  url("./fonts/Montserrat/Montserrat-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Thin";
  src: local("Montserrat-Thin"),
  url("./fonts/Montserrat/Montserrat-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-ThinItalic";
  src: local("Montserrat-ThinItalic"),
  url("./fonts/Montserrat/Montserrat-ThinItalic.ttf") format("truetype");
}

body {
  margin: 0;
  background-color: #E5E5E5;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/
}

/*code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/
