@import "../../styles/Mixins/FlexMixins.scss";
@import "../../styles/Mixins/FontMixin.scss";
@import "../../styles/Configs/Colors.scss";
@import "../../styles/Configs/Fonts.scss";

.mainContainer {
  @include flexStyle(column, center, center);
  margin: 5% 2.7% 7%;
  padding-top: 45px;
  padding-bottom: 6%;
  border-radius: 2.5rem;
  background-color: $primary-color;
  h2 {
    @include fontStyle($primary-font, normal, 800, 3rem, 3.5rem);
    color: $white-text-color;
    margin-bottom:inherit;
  }
  .buttonContainer {
    padding-top: 40px;
    width: 50%;
    text-align: center;
  }
}

@media only screen and (max-width: 1187px) {
  .mainContainer {
   .buttonContainer {
    button {
      margin-top: 18px;
    }
   } 
  }
}

@media only screen and (max-width: 775px) {
  .mainContainer {
    h2 {
      font-weight: 500;
      font-size: 2.5rem;
      line-height: 3rem;
    }
  }
}

@media only screen and (max-width: 610px) {
  .mainContainer {
    h2 {
      font-weight: 400;
      font-size: 2rem;
      line-height: 2rem;
    }
    .buttonContainer {
      padding-top: 40px;
      width: 80%;
    }
  }
}

@media only screen and (max-width: 480px) {
  .mainContainer {
    h2 {
      font-weight: 300;
      font-size: 1.4rem;
      line-height: 1rem;
    }
  }
}