@import "../../styles/Mixins/ButtonMixin.scss";
@import "../../styles/Mixins/FlexMixins.scss";
@import "../../styles/Mixins/FontMixin.scss";
@import "../../styles/Configs/Colors.scss";
@import "../../styles/Configs/Fonts.scss";

.mainContainer {
  @include flexStyle(column, center, center);
  margin: 5% 2.7%;
  padding-top:8%;
  padding-bottom:8%;
  border-radius: 2.5rem;
  background-color: $primary-color;
  box-sizing: border-box;
    h2 {
      @include fontStyle($primary-font, normal, 800, 3rem, 3.5rem);
      color: $white-text-color;
      margin-bottom:inherit;
    }

  .buttonContainer {
    width:50%;
    text-align: center;
    box-sizing: border-box;
  }
}
h2 {
  @include fontStyle($secondary-font, italic, 700, 1.25rem, 1.5rem);
  color: $header-main-color;
  margin-left:2.7%;
}
