@import "../../../../styles/Configs/Colors.scss";
@import "../../../../styles/Configs/Fonts.scss";
@import "../../../../styles/Mixins/FlexMixins.scss";
@import "../../../../styles/Mixins/FontMixin.scss";

.mentorHeaderMainContainer {
    margin:56px 88px 32px;
    .navContent {
        @include flexStyle(row,center,space-between);
        nav {
            .activeNav,.nonActiveNav{
                display:inline-block;
                margin-right:24px;
                margin-top:0;
                cursor:pointer;
                @include fontStyle($primary-font,normal,600,20px,24px);
                color:$header-main-color;
                border-bottom: 4px solid $header-main-color;
            }
            .nonActiveNav {
                border:none;
                color:$main-text-color;
            }
        }
    }
}