
.ModuleOverviuw_container {
    @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600&family=Montserrat:wght@400;500;600;700;800&display=swap');
    display: grid;
    grid-template-columns: 30% 70%;
    font-family: 'Montserrat', sans-serif;
}