@import "../../../styles/Configs/Colors.scss";
@import "../../../styles/Configs/Fonts.scss";
@import "../../../styles/Mixins/FontMixin.scss";

.inputContent {
    margin:0 80px;
    .forgotPassword,.unAuthorizedSignInErrorStyle {
        text-align: center;
        @include fontStyle($primary-font, normal, 500, 1rem, 1.5rem);
        color: $main-text-color;
        cursor: pointer;
        margin:10px 0 40px;
    }
    .unAuthorizedSignInErrorStyle {
        color:$main-error-color;
        font-weight: 700;
        cursor:auto;
        text-align: left;
        margin-top: -10px;
        margin-bottom: -10px;
    }
}
