@import "../../../../styles/Mixins/FlexMixins.scss";
@import "../../../../styles/Mixins/FontMixin.scss";

.learningPathsMainContainer{
    @include flexStyle(column,flex-start,space-between);
    border:2px solid red;
    align-self:flex-start;
    padding-right:6%;
}