.inner {
  box-sizing: border-box;
  background-color: #EEEFF4;
  margin: 0;
  padding-left: 10px;
  padding-right: 30px;
  padding-top: 50px;
}

.container {
  margin-left: 30px;
}

.forum_header-title {
  margin: 0;
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  color: #333941;
}

.forum_header-menu {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: -50px;
}

.forum_header-inner {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.forum_header-list {
  width: 115px;
  text-align: center;
  border-style: none;
  margin-left: 5px;
  padding: 5px 2px 3px 2px;
  font-size: 13px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  &_underLine {
    margin-top: 5px;
    &_active{
      background-color: #415790;
      margin-left: -5px;
      width: 120px;
      height: 8px;
      border-radius: 20px;
    }
  }
  &:hover {
    font-weight: 600;
    cursor: pointer;
  }
  &_link {
    color: #5E617B;
    text-decoration: none;
    &_active {
      color: #222427;
      font-weight: 600;
      font-size: 20px;
    }
  }
}

.btn {
  background-color: #F08670;
  border-style: none;
  color: #fff;
  font-weight: 500;
  line-height: 20px;
  border-radius: 16px;
  padding: 16px 32px;
  height: 52px;
  margin-top: 10px;
  margin-right: 40px;
  cursor: pointer;
  &:hover {
    background-color: #f16d4f;
    color: #d6faf1;
  }
  &:active {
    background-color: #ff9982;
    color: #f4f8f7;
    padding: 17px 34px;
    position: relative;
    top: -1px;
    right: -1px;
  }
}

.noQuestionsDiv {
  font-weight: 600;
  font-size:30px;
  margin-top: 20px;
  margin-left: 3px;
  color: #4AB8A3;
}

//scroll
.questionItemsScroll {
  max-height: 800px;
  overflow-y: scroll;
}

.askQuestionsScroll {
  margin-right: 57px;
}
