@media (max-width: 1350px) {
  .question_input {
    margin-left: 100px;
  }
  .btn {
    width: 80px;
  }
}

@media (max-width: 1230px) {
  .question_input {
    width: 340px;
    margin-left: 0;
  }
  .btn {
    width: 60px;
  }
}

@media (max-width: 980px) {
  .question_input {
    width: 200px;
    margin-left: 0;
  }
}

@media (min-width: 1450px) {
  .question_input {
    width: 600px;
    margin-left: 40px;
  }
}