.answers-item {
  max-width: 1445px;
  margin-right: 40px;
  padding: 32px 20px 0 32px;  
  color: #3D3F42;
  word-break: break-all;
  resize: none;
  outline: none;
  border: none;
  &_info {
    display: flex;
    &_img {
      padding: 1px;
      border-radius: 50%;
      width: 31px;
      height: 31px;
      cursor: pointer;
    }
    &_box {
      margin-left: 16px;
      &_person {
        font-weight: 600;
        line-height: 24px;
        color: #222427;
      }
      &_createdDate {
        margin-top: 5px;
        font-weight: 400;
        line-height: 24px;
        color: #222427;
        &::before {
          content: url('./../../../../../../../assets/svg/ClockIcon.svg');
          margin-right: 5px;
          vertical-align: -2px;
        }
      }
    }
  }
  &_body {
    margin-top: 10px;
    margin-left: 49px;
  }
  &_text {
    padding-right: 120px;
    font-weight: 400;
    line-height: 24px;
    color: #000;
  }
  &_showMore {
    margin-top: 10px;
    font-weight: 500;
    line-height: 24px;
    color: #415791;
    cursor: pointer;
  &_img {
    margin-left: 9px;
  }
  }
}
