@import "../../../../styles/Mixins/FlexMixins.scss";


.coreContent{
    @include flexStyle(column,none,space-between);
    padding-left:6%;
    padding-right:6%;
    margin-top:3rem;
.mainContainer {
    @include flexStyle(row,center,space-between);
    flex-wrap: wrap;
}
}