@import "../../../../styles/Configs/Colors.scss";
@import "../../../../styles/Configs/Fonts.scss";
@import "../../../../styles/Mixins/ButtonMixin.scss";
@import "../../../../styles/Mixins/FlexMixins.scss";
@import "../../../../styles/Mixins/FontMixin.scss";

.mainContainer{
    @include flexStyle(row,center,none);
    background-color: $white-text-color;
    border-radius:20px;
    margin:0 88px;
    .titleContainer {
        margin:32px 32px 32px 48px;
        box-sizing: border-box;
        .courseTitle {
            @include fontStyle($secondary-font,normal,700,24px,29px);
            text-decoration-line: underline;
            color: $header-main-color;
            margin:0;
        }
        .progressContainer {
            margin:25px 0 9px 0;
           .progressBar{
              background-color: #EEEFF4;
              border-radius:6.5px;
              width:345px;
              height:13px;
              margin-right:16px;
              box-sizing: border-box;
              display:inline-block;
              .progressing {
                background-color: $secondary-color;
                height:100%;
                border-radius:6.5px;
            }
           }
            .progressPercent{
              @include fontStyle($secondary-font,normal,500,12px,15px);
              color: $black-text-color;
              display:inline;
            }
        }
            .OverallProgress{
              @include fontStyle($primary-font,normal,400,12px,15px);
              color:$main-text-color;
              margin:0;
        }
    }
    .container{
        margin:43px; 
       .containerTitle{
          @include fontStyle($primary-font,normal,500,14px,17px);
          color: #848A9D;
          margin:0 0 8px;
          box-sizing: border-box;
       }
       .remainingTimeContainer,.dueDateContainer{
          @include flexStyle(row,center,none);
       }
       .dueDateContent,.remainingTimeContent{
        @include fontStyle($primary-font,normal,500,16px,24px);
        color: $black-text-color;
        margin:0 0 0 10px;
        display:inline;
       }
       
       .statusContent{
           background-color: #D9DBE9;
           border-radius:16px;
           @include fontStyle($primary-font,normal,500,12px,15px);
           color:$main-text-color;
           padding:0.344rem 1rem 0.344rem 1rem;
           margin:8px 0 0 ;
       }
    }
    .buttonContainer {
        margin-left:43px;   
    }
    .separator{
        background-color:#EEEFF4;
        border-radius: 0.469rem;
        width:0.125rem;
        height:5rem;
    }
}
