@import "../../../../styles/Mixins/GridMixin.scss";
@import "../../../../styles/Configs/Colors.scss";
@import "../../../../styles/Configs/Fonts.scss";


.mentorMainContainer {
  font-family: $primary-font;
  margin: 0 2.7%;
  padding-top: 28px;
  border-radius: 2.5rem;
  background-color: $mentor-card-backgraund-color;
  .gridContent{
    @include gridStyle(repeat(4,1fr),center,32px,32px);
  }
}

.MentorTitle {
  text-align: center;
  font-weight: 500;
  line-height: 24px;
  color: $header-main-color;
}

.MentorSubTitle {
  margin-top: 16px;
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  color: $black-text-color;
}

.icon {
  position: absolute;
  right: 70px;
  margin-top: -130px;
  cursor: pointer;
}

@media only screen and (max-width: 1250px) {
  .mentorMainContainer {
    .gridContent{
      @include gridStyle(repeat(2,2fr), center,32px,32px);
      margin: 0 100px;
    }
  }
}

@media only screen and (max-width: 850px) {
  .mentorMainContainer {
    .gridContent{
      @include gridStyle(repeat(1,1fr), center,32px,32px);
      margin: 0 170px;
    }
  }
}

@media only screen and (max-width: 700px) {
  .icon {
    right: 50px;
    margin-top: -180px;
  }
}