@import "../../styles/Mixins/FontMixin.scss";
@import "../../styles/Mixins/FlexMixins.scss";

.inputContent {
    @include flexStyle(row,center,none);
    padding-left:6%;
    padding-right:6%;
    height:3.5rem;
    input {
        border: 1px solid #D9DBE9;
        border-radius: 0.75rem;
        background-color: #FFFFFF;
        width:100%;
        height:100%;
        padding-left:3%;
        @include fontStyle('Montserrat',normal,400,1rem,1.5rem);
        color:#848A9D;
    }
}
