@import "../../styles/Mixins/FontMixin.scss";
@import "../../styles/Mixins/FlexMixins.scss";

.inputContent {
    @include flexStyle(row,center,none);
    /*margin-right:6%;
    margin-left:6%;*/
    width:100%;
    padding-left:3%;
    height:3.5rem;
    background-color: #FFFFFF;
    border-radius: 0.75rem;
    input {
        border: none;
        outline:none;
        height:100%;
        margin-left:2%;
        @include fontStyle('Montserrat',normal,400,1rem,1.5rem);
        color:#848A9D;
    }
}
