@import '../../../../../styles/Configs/Colors.scss';

.popup {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-out;
  animation-name: fadeIn;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.popup.open {
  opacity: 1;
  pointer-events: auto;
}

.popup.animating {
  transition: none;
}

.popup-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $popUp-overlay-color;
  opacity: 0.7;
}

.popup-content {
  position: relative;
  background-color: #f9f9fd;
  border-radius: 40px;
  padding: 25px;
  box-shadow: 0 2px 8px #00000040;
  min-width: 550px;
  min-height: 250px;
}

.popup-title {
  padding-top: 4px;
  padding-left: 10px;
  color: #1E426A;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  font-style: bold;
}

.close-button {
  position: absolute;
  top: 23px;
  right: 25px;
  padding: 10px;
  color: $icon-color;
  font-weight: 600;
  font-size: 25px;
  background: none;
  border: none;
  cursor: pointer;
  &:hover {
    font-size: 32px;
    top: 20px;
    right: 22px;
    color: #b1b5c2;
  }
  &:active {
    color: $btn-primary-color;
  }
}

.buttons {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
}

.btn {
  &_post {
    background-color: $btn-primary-color;
    border-style: none;
    color: #fff;
    font-weight: 500;
    line-height: 20px;
    border-radius: 16px;
    padding: 10px 30px;
    cursor: pointer;
    &:hover {
      background-color: $btn-primary-hover-color;
      color: #f4f8f7;
      padding: 11px 31px;
      margin-bottom: -2px;
      margin-left: -2px;
      position: relative;
    }
    &:hover[disabled] {
      background-color: $btn-primary-color;
      color: #fff;
    }
    &:active {
      background-color: #f74a24;
    }
    &:active[disabled] {
      background-color: $btn-primary-color;
      opacity: 0.5;
    }
    
    &[disabled] {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
  &_cancel {
    background-color: $bg-color;
    color: $btn-secondary-color;
    border: 2px solid $btn-secondary-color;
    border-radius: 16px;
    font-weight: 500;
    line-height: 20px;
    padding: 10px 30px;
    margin-right: 10px;
    cursor: pointer;
    &:hover {
      padding: 11px 31px;
      margin-bottom: -2px;
      margin-left: -1px;
      border: #7b93d1 2px solid;
      color: $btn-secondary-hover-color;
      position: relative;
    }
    &:active {
      padding: 11px 31px;
      background-color: #e0e3ec;
      color: #7589bb;
    }
  }  
}

.question_textArea {
  border: #cfd0d4 1px solid;
  border-radius: 10px;
  height: 120px;
  margin-left: 20px;
  padding: 10px;
  margin-bottom: 25px;
  padding-bottom: 25px;
  width: 100%;
  color: #3d3f42;
  border: 1px solid $border-color;
  background-color: #fff;
  resize: none;
  outline: none;
  &_box {
    display: flex;
    align-items: flex-start;
  }
  &_count {
    font-size: 13px;
    position: absolute;
    right: 35px;
    bottom: 105px;
    color: #3d3f42;
  }
}

.question_textArea_item {
  margin: 32px 0 5px 0;
  padding: 0 10px 0 10px;
}





