@import "../../../../styles/Configs/Colors.scss";
@import "../../../../styles/Configs/Fonts.scss";
@import "../../../../styles/Mixins/FlexMixins.scss";
@import "../../../../styles/Mixins/FontMixin.scss";

.mainContainer{
    @include flexStyle(row,center,none);
    background-color: $white-text-color;
    border-radius:20px;
    margin:0 88px;
    .courseTitle{
        @include fontStyle($secondary-font,normal,700,24px,29px);
        text-decoration-line: underline;
        color: $header-main-color;
        margin:54px 284px 54px 48px;
    }
    .container{
        margin:43px 89px;
        .containerTitle{
            @include fontStyle($primary-font,normal,500,14px,17px);
            color: #848A9D;
            margin:0;
        }
        .gradeContent{
            @include fontStyle($primary-font,normal,500,16px,24px);
            color: $black-text-color;
        }
        .statusContent{
            background-color: #D9DBE9;
            border-radius:16px;
            @include fontStyle($primary-font,normal,500,12px,15px);
            color: $main-text-color;
            padding:0.344rem 1rem 0.344rem 1rem;
        }
    }
    .buttonContainer {
        margin-left:184px;   
    }
    .separator{
        background-color:#EEEFF4;
        border-radius: 7px;
        width:2px;
        height:73px;
    }
}