@import "../../../../styles/Mixins/FlexMixins.scss";
@import "../../../../styles/Mixins/FontMixin.scss";
@import "../../../../styles/Configs/Colors.scss";
@import "../../../../styles/Configs/Fonts.scss";

.mainContainer {
  background-color: #F9F9FD;
  border-radius: 8px;
  margin-right: 10px;
  margin-left: 10px;

  .mainContent {
    margin: 10px 8px;
    @include flexStyle(row, center, space-between);

    .titleAndEllipseIcon {
      display: inline-block;

      .moduleTitle {
        display: inline;
        margin-left: 16px;
        @include fontStyle($primary-font, normal, 600, 20px, 24px);
        color: $black-text-color;
      }
    }

    .chevronIsOpen {
      cursor: pointer;
      transform: rotate(90deg);
      transition: 0.5s;
    }

    .chevronIsClosed {
      cursor: pointer;
      transform: rotate(0deg);
      transition: 0.5s;
    }
  }

  .moduleDescriptionIsOpen {
    margin: 24px 16px;
    text-align: justify;
    @include fontStyle($primary-font, normal, 400, 16px, 24px);
    color: $main-text-color

      p {
        margin: 0 0 0 8px;
      }

      .moduleItemLink {
		appearance: none;
		background-color: transparent;
		border: none;
		color: $main-text-color;
		text-decoration: underline;
		cursor: pointer;
		margin: 0;
		padding: 0;
		font: inherit;
	  }
	  
  }

  .moduleDescriptionIsClosed {
    display: none;
  }
}
