@import "../../styles/Mixins/ButtonMixin.scss";
@import "../../styles/Mixins/FlexMixins.scss";
@import "../../styles/Mixins/FontMixin.scss";
.headerContainer {
  background-color: #eeeff4;
  .mainContent {
    @include flexStyle(row, center, space-between);
    padding: 7% 9.5% 7% 10.7%;
    background-color: #eeeff4;
    .leftContent {
      width: 40%;
      @include flexStyle(column, flex-start, space-between);
      h1 {
        display: inline;
        @include fontStyle("Montserrat", normal, 800, 3rem, 3.688rem);
        color: #5e617b;
        &::before {
          content: "Free ";
          color: #222427;
        }
      }
      p {
        display: inline;
        @include fontStyle("Montserrat", normal, 400, 1rem, 1.5rem);
        color: #5e617b;
      }
      .buttonContainer {
        width: 60%;
        @include flexStyle(row, center, space-between);
        & button:nth-of-type(1) {
          @include buttonStyle(
            #5e617b,
            #ffffff,
            1rem,
            none,
            4rem,
            2rem,
            2rem,
            1.375rem,
            1.375rem
          );
          @include fontStyle("Montserrat", normal, 500, 1rem, 1.25rem);
          text-transform: uppercase;
        }
        & button:nth-of-type(2) {
          @include buttonStyle(
            transparent,
            #5e617b,
            1rem,
            none,
            4rem,
            2rem,
            2rem,
            1.375rem,
            1.375rem
          );
          @include fontStyle("Montserrat", normal, 500, 1rem, 1.25rem);
          text-transform: uppercase;
          border-color: #5e617b;
        }
      }
    }
    .rightContent {
      width: 50%;
      text-align: center;
    }
  }
}
