@import "../../styles/Mixins/FlexMixins.scss";
@import "../../styles/Mixins/FontMixin.scss";
@import "../../styles/Configs/Colors.scss";
@import "../../styles/Configs/Fonts.scss";

.mainContainer {
  background-color: $white-text-color;
  border-radius: 2.5rem;
  padding-left:10%;
  padding-top:5%;
  box-sizing: border-box;

  .categoryInfoContainer {
    @include flexStyle(row, center, space-between);
    box-sizing: border-box;
    padding-right:10%;

    .categoryTitle {
      @include fontStyle($primary-font,normal,700,1.5rem,1.75rem);
      color:$header-main-color;
    }
    .numberOfSubcategories {
      @include fontStyle($primary-font,normal,500,0.875rem,1.063rem);
      color:$main-text-color;
    }

    img {
      cursor:pointer;
    }
  }
}
