@import "../../styles/Configs/Colors.scss";
@import "../../styles/Configs/Fonts.scss";

.mainContainer {
  font-family: $primary-font;
  background-color: $white-text-color;
  border-radius: 20px;
  padding-top: 32px;
  padding-bottom: 17px;
  padding-left: 48px;
  cursor: pointer;
  &:hover{
    background-color: #a7bac7;
  }
  .categoryInfoContainer {
    display: flex;
    .categoryTitle {
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      margin-top: 17px;
      margin-right: 70px;
      margin-bottom: 0;
      color:$black-text-color;
    }
    .numberOfSubcategories {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      margin-top: 3px;
      color: $main-text-color;
    }
  }
}

.categoryInfoContainer{
  position: relative;
}

.mainContainerRightArrow {
  position: absolute;
  bottom: 15px;
  right: 37px;
}

@media only screen and (max-width: 780px) {
  .mainContainerRightArrow {
    position: relative;
    padding-top: 63px;
  }
}