@import "../../../../styles/Mixins/GridMixin.scss";
.categoriesMainContainer {
	margin: 0 2.3%;
	margin-top: 2.5%;
	margin-bottom: 2.3%;
  border-radius: 2.5rem;
  background-color: #DFF3FF;
  box-sizing: border-box;
      .gridContent{
        @include gridStyle(repeat(4,1fr),center,32px,32px);
      }

    .gridContent{
      display:grid;
      grid-template-columns: repeat(3,1fr);
      justify-content:center;
      gap:32px;
	  border-radius:1.5rem;
	  background-color: #DFF3FF;
    }
}